In [6]:
import sys
import keras
import pandas as pd
import sklearn as sk
import tensorflow as tf

print(f'tensor: {tf.__version__}')
print(f'Keras: {keras.__version__}')
print()
print(f'Python: {sys.version}')
print(f'scikit: {sk.__version__}')

tensor: 1.10.0
Keras: 2.2.2

Python: 3.6.5 |Anaconda custom (64-bit)| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]
scikit: 0.19.1

In [21]:
# Maps, Hash tables

d = {'name':"Ramu", 'address':"55 trumbull"}
print(d)
print(d['name'])

if 'name' in d:
    print("Name is there")
    
if 'age' in d:
    print("age is there")
else:
    print("no way")
          
print(f"key: {d.keys()}")
print(f"values: {d.values()}")


# printing numbers and strings

acc =0
for x in range(1,10):
        acc += x
        print(f"Adding {x}, sum so far is {acc}")

{'name': 'Ramu', 'address': '55 trumbull'}
Ramu
Name is there
no way
key: dict_keys(['name', 'address'])
values: dict_values(['Ramu', '55 trumbull'])
Adding 1, sum so far is 1
Adding 2, sum so far is 3
Adding 3, sum so far is 6
Adding 4, sum so far is 10
Adding 5, sum so far is 15
Adding 6, sum so far is 21
Adding 7, sum so far is 28
Adding 8, sum so far is 36
Adding 9, sum so far is 45

In [28]:
import os
import pandas as pd

path = './Data/'

filename_read = os.path.join(path, "mpg.csv")
print(f"filename:{filename_read}")
df = pd.read_csv(filename_read)

print(df[0:5])

filename:./Data/mpg.csv
    mpg  cylinders  displacement horsepower  weight  acceleration  year  \
0  18.0          8         307.0        130    3504          12.0    70
1  15.0          8         350.0        165    3693          11.5    70
2  18.0          8         318.0        150    3436          11.0    70
3  16.0          8         304.0        150    3433          12.0    70
4  17.0          8         302.0        140    3449          10.5    70

   origin                       name
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino

In [37]:
# Basic statistics on the framework

df = pd.read_csv(filename_read, na_values = ['NA','?'])

# strip non-numeric

df = df.select_dtypes(include=['int','float'])
print(df[0:4])


headers = list(df.columns.values)
fields = []

for field in headers:
    fields.append({
        'name':field,
        'mean':df[field].mean(),
        'var':df[field].var(),
        'sdev':df[field].std()
    })
for field in fields:
    print(field)

    mpg  displacement  horsepower  acceleration
0  18.0         307.0       130.0          12.0
1  15.0         350.0       165.0          11.5
2  18.0         318.0       150.0          11.0
3  16.0         304.0       150.0          12.0
{'name': 'mpg', 'mean': 23.514572864321615, 'var': 61.089610774274405, 'sdev': 7.815984312565782}
{'name': 'displacement', 'mean': 193.42587939698493, 'var': 10872.199152247364, 'sdev': 104.26983817119581}
{'name': 'horsepower', 'mean': 104.46938775510205, 'var': 1481.5693929745862, 'sdev': 38.49115993282855}
{'name': 'acceleration', 'mean': 15.568090452261291, 'var': 7.604848233611381, 'sdev': 2.7576889298126757}

In [42]:
# Sort and shuffle

import numpy as np

np.random.seed(92)
df = df.reindex(np.random.permutation(df.index))
df.reset_index(inplace = True, drop = True)
df

      mpg  displacement  horsepower  acceleration
0    26.0         156.0        92.0          14.5
1    13.0         350.0       155.0          13.5
2    32.0         135.0        84.0          11.6
3    14.0         351.0       153.0          13.0
4    33.7         107.0        75.0          14.4
5    15.0         302.0       130.0          14.9
6    14.0         351.0       153.0          13.5
7    27.0          97.0        88.0          16.5
8    11.0         400.0       150.0          14.0
9    24.0         120.0        97.0          15.0
10   14.0         318.0       150.0          13.0
11   20.0         232.0       100.0          16.0
12   25.1         140.0        88.0          15.4
13   19.0         250.0       100.0          15.0
14   11.0         350.0       180.0          11.0
15   30.0         135.0        84.0          12.9
16   16.2         163.0       133.0          15.8
17   13.0         302.0       140.0          16.0
18   12.0         350.0       180.0          12.5
19   31.0          71.0        65.0          19.0
20   32.1          98.0        70.0          15.5
21   26.0         122.0        80.0          16.5
22   26.0          98.0        90.0          15.5
23   15.0         304.0       150.0          12.5
24   22.0         198.0        95.0          15.5
25   18.0         171.0        97.0          14.5
26   13.0         318.0       150.0          13.2
27   16.0         318.0       150.0          13.0
28   24.0         134.0        96.0          13.5
29   35.0         122.0        88.0          15.1
..    ...           ...         ...           ...
368  19.0          70.0        97.0          13.5
369  39.4          85.0        70.0          18.6
370  37.0          85.0        65.0          19.4
371  26.0          97.0        46.0          20.5
372  23.0         115.0        95.0          15.0
373  20.0         114.0        91.0          14.0
374  29.0         135.0        84.0          16.0
375  33.8          97.0        67.0          18.0
376  18.0         318.0       150.0          11.0
377  17.0         231.0       110.0          21.0
378  36.1          98.0        66.0          14.4
379  38.1          89.0        60.0          18.8
380  40.9          85.0         NaN          17.3
381  36.0         105.0        74.0          15.3
382  24.0         113.0        95.0          15.0
383  28.0          97.0        75.0          16.4
384  43.4          90.0        48.0          23.7
385  25.5         140.0        89.0          15.8
386  16.0         351.0       149.0          14.5
387  30.0          79.0        70.0          19.5
388  14.0         302.0       137.0          14.5
389  18.5         360.0       150.0          13.0
390  14.0         340.0       160.0           8.0
391  32.0          91.0        67.0          15.7
392  26.0          98.0        79.0          17.7
393  21.0         140.0        72.0          19.5
394  13.0         318.0       150.0          14.0
395  14.0         400.0       175.0          12.0
396  19.0         225.0        95.0          16.0
397  17.6         225.0        85.0          16.6

[398 rows x 4 columns]

In [46]:
# sorting 

df = pd.read_csv(filename_read, na_values = ['NA','?'])
df = df.sort_values(by='name', ascending = True)

print(f"The first car is:{df['name'].iloc[0]}")
print(df[0:5])

The first car is:amc ambassador brougham
      mpg  cylinders  displacement  horsepower  weight  acceleration  year  \
96   13.0          8         360.0       175.0    3821          11.0    73
9    15.0          8         390.0       190.0    3850           8.5    70
66   17.0          8         304.0       150.0    3672          11.5    72
315  24.3          4         151.0        90.0    3003          20.1    80
257  19.4          6         232.0        90.0    3210          17.2    78

     origin                     name
96        1  amc ambassador brougham
9         1       amc ambassador dpl
66        1       amc ambassador sst
315       1              amc concord
257       1              amc concord

In [65]:
import os
import numpy as np
import pandas as pd

path = './Data/'

filename_read = os.path.join(path, "mpg.csv")
filename_save = os.path.join(path,"mpg_out.csv")

df = pd.read_csv(filename_read, na_values=['NA','?'])
df = df.reindex(np.random.permutation(df.index))

df.to_csv(filename_save, index = False) # not to write row numbers

df.drop('name',1, inplace = True)
print(f"After drop: {df.columns}")

# column inserting
df[0:5]

df.insert(1,"weight_kg", (df['weight']*0.4535).astype(int))
df


from scipy.stats import zscore

df['mpg'] = zscore(df['mpg'])
df[0:5]

After drop: Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'year', 'origin'],
      dtype='object')

,mpg,weight_kg,cylinders,displacement,horsepower,weight,acceleration,year,origin
339,0.395255,1194,4,151.0,84.0,2635,16.4,81,1
286,-0.757680,1689,8,302.0,129.0,3725,13.4,79,1
278,1.022965,902,4,89.0,71.0,1990,14.9,78,2
209,-0.578335,1482,4,120.0,88.0,3270,21.9,76,2
187,-0.770491,1911,8,305.0,140.0,4215,13.0,76,1

In [77]:
# missing values

med = df['horsepower']
df['horsepower'] = df['horsepower'].fillna(med)
pd.isnull(df['horsepower']).values.any()


col_horse = df['horsepower']
col_nm = df['origin']
result = pd.concat([col_horse,col_nm], axis=1)
result

     horsepower  origin
339        84.0       1
286       129.0       1
278        71.0       2
209        88.0       2
187       140.0       1
261       120.0       1
311        70.0       1
146        75.0       1
147        75.0       2
9         190.0       1
301        70.0       1
29         88.0       3
195        52.0       1
26        200.0       1
295        80.0       1
69        160.0       1
395        84.0       1
88        137.0       1
107       100.0       1
211       120.0       2
263       165.0       1
97        105.0       1
298       125.0       1
316        90.0       1
213       145.0       1
340        92.0       1
249       110.0       1
330         NaN       2
279        68.0       3
397        82.0       1
..          ...     ...
234        88.0       1
165       110.0       1
183        81.0       2
217        80.0       1
105       170.0       1
174        97.0       1
356        75.0       3
338        84.0       1
98        100.0       1
49         86.0       1
355        75.0       3
95        225.0       1
14         95.0       3
204        70.0       3
230       170.0       1
178        88.0       2
346        67.0       3
159       148.0       1
75        150.0       1
4         140.0       1
64        150.0       1
354         NaN       2
394        52.0       2
24         90.0       1
274       103.0       2
163        95.0       1
226       105.0       1
268        97.0       3
293        71.0       2
138       150.0       1

[398 rows x 2 columns]